@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
  }

  canvas {
    display: block; /* Remove any default inline padding/margins */
    height: 100vh;
  }

  .mapboxgl-canvas-container {
    width: 8000px !important;
    height: 8000px !important;
    overflow: hidden !important; /* Ensure no scrollbars */
  }
  
.mapboxgl-canvas {
  width: 8000px !important;
  height: 8000px !important;
  overflow: hidden !important; /* Ensure no scrollbars */
}


.videocomponent{
  overflow:'hidden';
  width: 120px;
}

/* Grid.css */
.grid-container {
  display: grid;
  gap: 0px;
  padding: 0px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e51b1b;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  height: 120px;
  width: 120px;
}