/* Grid.css */
.grid-container {
    display: grid;
    gap: 5px;
    padding: 0px;
  }
  
.grid-item {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 10px;
    font-weight: bold;
    height: 120px;
    width: 120px;
  }